@model Extra

@{
    ViewData["Title"] = "View";
}



<hr />
<h4>Добавяне на екстри</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateExtra">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Име</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <div></div>
                <button type="submit" class="btn btn-success btn-md pull-right ">Запис</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllHouseAndExtras">Назад</a>
</div>