
@model SelectedDatesViewModel
@{
    ViewData["Title"] = "Избор на дати";
}


<form method="post">

    <div class="col-lg-3">
        <div style="padding-bottom:1em">
            <label for="name">Моля изберете изберете желани дати за престой</label>
        </div>

        <div class="form-group">
            <label for="name">Дата на настаняване</label>
            <input asp-for="DateIN" type="date" class="form-control">
            <span asp-validation-for="DateIN" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label for="name">Дата на напускане</label>
            <input asp-for="DateOUT" type="date" class="form-control">
            <span asp-validation-for="DateOUT" class="form-text text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Търси свободни стаи" class="btn btn-default" />
        </div>
    </div>

</form>
