<section class="resort-overview-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                <div class="side-A">
                    <div class="product-thumb">
                        <div class="image">
                            <img src="~/images/room1.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">Двойна стая</a></h3>
                        <p>
                            Спалня, гардероб, нощни шкафчета
                            26″ LCD Телевизор със сателитна ТВ към 4 оператора
                            Кабелен и Wi-Fi интернет
                            Централна климатизация и отопление
                        </p>
                        @*<div class="links"><a href="single-blog.html">Read more</a></div>*@
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                <div class="side-A">
                    <div class="product-thumb">
                        <div class="image">
                            <img src="~/images/room2.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">Тройна стая</a></h3>
                        <p>
                            Спалня, гардероб, нощни шкафчета
                            55″ LCD Телевизор със сателитна ТВ към 4 оператора
                            Кабелен и Wi-Fi интернет
                            Централна климатизация и отопление
                            Самостоятелен санитарен възел
                            TurboJet вана (джакузи)
                            Кухненски бокс с хладилник
                            Просторна тераса
                        </p>
                        @*<div class="links"><a href="single-blog.html">Read more</a></div>*@
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12 offspace-45"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                <div class="side-A">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">Апартамент</a></h3>
                        <p>Апартамент който разполага с 2 стай спалня и холски бокс има собствен санитарен възел, телевизор и удобен диван, топла и приветлива стая.</p>
                        @*<div class="links"><a href="single-blog.html">Read more</a></div>*@
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-thumb">
                        <div class="image txt-rgt">
                            <img src="~/images/room4.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                <div class="side-A">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">Механа</a></h3>
                        <p>Механа разполога с собствена кухня и може да събере около 20 човека. Подходяща е за големи групи и е много удобна за празнуване на празниците.</p>
                        @*<div class="links"><a href="single-blog.html">Read more</a></div>*@
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-thumb txt-rgt">
                        <div class="image">
                            <img src="~/images/mehana.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>