<section class="resort-overview-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                <div class="side-A">
                    <div class="product-thumb">
                        <div class="image">
                            <img src="~/images/House2.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">luxury spa</a></h3>
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                        <div class="links"><a href="single-blog.html">Read more</a></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                <div class="side-A">
                    <div class="product-thumb">
                        <div class="image">
                            <img src="~/images/House1.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">Beatusish ingl</a></h3>
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                        <div class="links"><a href="single-blog.html">Read more</a></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12 offspace-45"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
                <div class="side-A">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">luxury room</a></h3>
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                        <div class="links"><a href="single-blog.html">Read more</a></div>
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-thumb">
                        <div class="image txt-rgt">
                            <img src="~/images/House3.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
                <div class="side-A">
                    <div class="product-desc-side">
                        <h3><a href="single-blog.html">heaven seanery</a></h3>
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.</p>
                        <div class="links"><a href="single-blog.html">Read more</a></div>
                    </div>
                </div>
                <div class="side-B">
                    <div class="product-thumb txt-rgt">
                        <div class="image">
                            <img src="~/images/House1.jpg" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>