@model HomeViewModel

<section class="contact-block">
    <div class="container">
        <div class="col-md-6 contact-left-block">
            <h3><span>За </span>контакти</h3>
            <p class="text-right">@Model.House.Address <i class="fa fa-map-marker fa-lg"></i></p>
            <p class="text-right"><a href="tel:+1-202-555-0100">@Model.House.PhoneNumber <i class="fa fa-phone fa-lg"></i></a></p>
            <p class="text-right"><a href="mailto:demo@info.com"> @Model.House.Email<i class="fa fa-envelope"></i></a></p>
        </div>
        <div class="col-md-6 contact-form">
            <h3>Изпратете <span>съобщение</span></h3>
            <form action="#" method="post">
                <input type="text" class="form-control" name="Name" placeholder="Име" required="">
                <input type="email" class="form-control" name="Email" placeholder="Email" required="">
                <textarea class="form-control" name="Message" placeholder="Текст...." required=""></textarea>
                <input type="submit" class="submit-btn" value="Изпрати">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!---map--->
<section class="offspace-70">
    <div class="map">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.997353298881!2d23.00165671547064!3d42.80954197915935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aabb0edce77ed5%3A0x582bd940b6e37722!2zODExIDIxLCAyMjIzINCT0YrQu9GK0LHQvtCy0YbQuA!5e0!3m2!1sbg!2sbg!4v1531370194059" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
