@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/House1.jpg" style="width:100%; height: 500px" alt="First slide">
        </div>
        <div class="item">
            <img src="~/images/home.jpg" style="width:100%; height: 500px" alt="Second slide">
        </div>
        <div class="item">
            <img src="~/images/House3.jpg" style="width:100%; height: 500px" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><img src="~/images/icons/left-arrow-hover.png" onmouseover="this.src = '/images/icons/left-arrow-hover.png'" onmouseout="this.src = '/images/icons/left-arrow-hover.png'" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="~/images/icons/right-arrow.png" onmouseover="this.src = '/images/icons/right-arrow-hover.png'" onmouseout="this.src = '/images/icons/right-arrow.png'" alt="left"></a>
</div>
<div class="clearfix"></div>


<section class="about-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 about-left">
                <p><span>@Model.House.Name</span></p>
            </div>
            <div class="col-md-7 about-right">
                <h3>Описание на вилата</h3>
                <p>
                    Тишината, спокойствието, чистият въздух, откритият басейн и барбекюто, ще Ви накарат да се откъснете от натовареното ежедневие. Високоскоростният интернет и сателитната телевизия към 4 различни оператора, ще Ви осигури постоянна осведоменост за нещата случващи се в по света.
                </p>
                <p>Удобства: </p>
                <ul>
                    @foreach (var item in Model.Extras)
                    {
                        <li>@item.Name</li>
                    }


                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>



