@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/House1.jpg" style="width:100%; height: 500px" alt="First slide">
        </div>
        <div class="item">
            <img src="~/images/House2.jpg" style="width:100%; height: 500px" alt="Second slide">
        </div>
        <div class="item">
            <img src="~/images/House3.jpg" style="width:100%; height: 500px" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><img src="~/images/icons/left-arrow-hover.png" onmouseover="this.src = '/images/icons/left-arrow-hover.png'" onmouseout="this.src = '/images/icons/left-arrow-hover.png'" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="~/images/icons/right-arrow.png" onmouseover="this.src = '/images/icons/right-arrow-hover.png'" onmouseout="this.src = '/images/icons/right-arrow.png'" alt="left"></a>
</div>
<div class="clearfix"></div>

<section class="service-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="~/images/icons/wifi.png">
                    </div>
                    <h4><a>free wifi</a></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="~/images/icons/key.png">
                    </div>
                    <h4><a>room service</a></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="~/images/icons/car.png">
                    </div>
                    <h4><a>free parking</a></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="~/images/icons/user.png">
                    </div>
                    <h4><a>customer support</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

